{% extends "base.html" %}

{% block additional_links %}
    <link rel="stylesheet" href="{{url_for('static',filename='table-all.css')}}"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-table.min.css')}}">
{% endblock %}


{% block title %} Punch The Clock! - {{ _('History') }} {% endblock %}


{% block page_content %}
<div class="page-header">
<h1>{{ _('History') }}</h1>
</div>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="input-group">
        <span class="input-group-addon" title="* Year" id="yearSelect">{{ _('Year') }}</span>
        {{ form.historyYear(id='yearSelect' ,class='form-control') }}
        <span class="input-group-addon" title="* Month" id="monthSelect">{{ _('Month') }}</span>
        {{ form.historyMonth(id='monthSelect'  ,class='form-control') }}
        <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
        {{ form.historySubmit(id='showSubmit' ,class='form-control') }}
    </div>
</form><br/><br/>
<div>
    <table class="table table-sm">
        <colgroup>
            <col span="1" style="width: 85.5%;">
            <col span="1" style="width: 14.5%;">
        </colgroup>
        <tbody>
        <tr>
            <td><p class="fw-bold">{{ _('Total Worked Per Year') }}</p></td>
            <td><input type="text"  size="6" id = "total_worked_year" name="totalworkyear" value="{{info['twy']|formatTotalTimedelta}}" disabled></td>
        </tr>
        <tr>
            <td><p class="fw-bold">{{ _('Total Overtime Per Year') }}</p></td>
            <td><input type="text"  size="6" id = "total_overtime_year" name="totalovertimeyear" value="{{info['toy']|formatTotalTimedelta}}" disabled></td>
        </tr>
        <tr>
            <td><p class="fw-bold">{{ _('Total Worked Per Month')}}</p></td>
            <td><input type="text"  size="6" id = "total_worked_month" name="totalworkmonth" value="{{info['twm']|formatTotalTimedelta}}" disabled></td>
        </tr>
        <tr>
            <td><p class="fw-bold">{{ _('Total Overtime Per Month') }}</p></td>
            <td><input type="text"  size="6" id = "total_overtime_month" name="totalovertimemonth" value="{{info['tom']|formatTotalTimedelta}}" disabled></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
<table id="my_table_1" data-toggle="table" data-sort-stable="true" >
    <thead>
    <tr>
        <th data-sortable="false">{{ _('Date') }}</th>
        <th data-sortable="false">{{ _('Weekday') }}</th>
        <th data-sortable="false">{{ _('Start Time') }}</th>
        <th data-sortable="false">{{ _('Lunch Duration') }}</th>
        <th data-sortable="false">{{ _('End Time') }}</th>
        <th data-sortable="false">{{ _('Worked') }}</th>
        <th data-sortable="false">{{ _('Overtime') }}</th>
    </tr>
    </thead>
   <tbody>
        {% for tpl in history_table %}
        <tr>
            <td><input type="hidden" name="date_id" value="{{tpl[0]}}">{{tpl[1].strftime('%d-%m-%Y')}}</td>
            <td>{{tpl[2]|translateWeekday}}</td>
            <td><input type="time" id = "start_{{tpl[0]}}" name="start_time" value="{{tpl[3]|formatTimedelta}}" disabled></td>
            <td><input type="time" id = "lunch_{{tpl[0]}}" name="lunch_duration" value="{{tpl[4]|formatTimedelta}}" disabled></td>
            <td><input type="time" id = "end_{{tpl[0]}}" name="end_time" value="{{tpl[5]|formatTimedelta}}" disabled></td>
            <td><input type="time" id = "worked_{{tpl[0]}}" name="worked_time" value="{{tpl[6]|formatTimedelta}}" disabled></td>
            <td><input type="text"  size="6" id = "overtime_{{tpl[0]}}" name="overtime" value="{{tpl[7]|formatTimedelta}}" disabled></td>
        </tr>
        {% endfor %}
        </tbody>
</table><br/><br/>
</div>

<div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static',filename='popper.min.js')}}"
         crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"
            crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='bootstrap-table.min.js')}}"></script>


{% endblock %}