{% extends "base.html" %}


{% block additional_links %}
    <link rel="stylesheet" href="{{url_for('static',filename='table-all.css')}}"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-table.min.css')}}">
{% endblock %}

{% block title %} Punch The Clock! - TimeSheets {% endblock %}


{% block page_content %}
<form method="POST">
<div class="page-header">

    {{ form.hidden_tag() }}
<div class="input-group">
    <span class="input-group-addon" title="* Year" id="yearSelect">Year</span>
    {{ form.searchYear(id='yearSelect' ,class='form-control') }}
    <span class="input-group-addon" title="* Month" id="monthSelect">Month</span>
    {{ form.searchMonth(id='monthSelect'  ,class='form-control') }}
    <span class="input-group-addon" title="* Week" id="weekSelect">Week</span>
    {{ form.searchWeek(id='weekSelect' ,class='form-control') }}
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
    {{ form.searchSubmit(id='showSubmit' ,class='form-control') }}
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
    {% if create_btn %}
    <button type="submit" name="createButton" class="form-control btn-primary">Create</button>
    {% endif %}

</div>
<!--</form>-->

</div>


<table id="my_table_1" data-toggle="table" data-sort-stable="true" >
    <thead>
    <tr>
        <th data-sortable="false">Date</th>
        <th data-sortable="false">Weekday</th>
        <th data-sortable="false">Start Time</th>
        <th data-sortable="false">Lunch Duration</th>
        <th data-sortable="false">End Time</th>
        <th data-sortable="false">Worked</th>
        <th data-sortable="false">Overtime</th>
    </tr>
    </thead>
   <tbody>
        {% for tpl in time_table %}
        <tr>
            <td><input type="hidden" name="date_id" value="{{tpl[0]}}">{{tpl[1].strftime('%d-%m-%Y')}}</td>
            <td>{{tpl[2]}}</td>
            <td><input type="time" id = "start_{{tpl[0]}}" name="start_time" value="{{tpl[3]|formatTimedelta}}"></td>
            <td><input type="time" id = "lunch_{{tpl[0]}}" name="lunch_duration" value="{{tpl[4]|formatTimedelta}}"></td>
            <td><input type="time" id = "end_{{tpl[0]}}" name="end_time" value="{{tpl[5]|formatTimedelta}}"></td>
            <td><input type="time" id = "worked_{{tpl[0]}}" name="worked_time" value="{{tpl[6]|formatTimedelta}}" disabled></td>
            <td><input type="text"  size="6" id = "overtime_{{tpl[0]}}" name="overtime" value="{{tpl[7]|formatTimedelta}}" disabled></td>
        </tr>
        {% endfor %}
        </tbody>
</table><br/><br/>
<div class="form-group">
  <label for="comment">Notes:</label>
  <textarea style="overflow:auto;resize:none" class="form-control" rows="5" id="notes">{{notes_area}}</textarea>
</div>
{% if save_btn %}
<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
    <div class="text-right"> <!--You can add col-lg-12 if you want -->
        <button id="save" name="saveButton" class="btn btn-info">Save</button>
    </div>
</form>
{% endif %}


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static',filename='popper.min.js')}}"
         crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"
            crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='bootstrap-table.min.js')}}"></script>
<script type = "text/javascript" src="{{url_for('static',filename='my.min.js')}}"></script>
<script type = "text/javascript" src="{{url_for('static',filename='my.doc.js')}}"></script>
<script>

$('button[name=createButton]').click(function() {
    $.ajax({
        type: 'POST',
        url: '/on_create',
        dataType: 'json',
        data: JSON.stringify({ year: $('select[name="searchYear"]').val(),
                               month: $('select[name="searchMonth"]').val(),
                               week: $('select[name="searchWeek"]').val() }),
        contentType: "application/json"
    });
});


$('button[name=saveButton]').click(function() {
    var d_id = document.getElementsByName("date_id");
    var start = document.getElementsByName("start_time");
    var lunch = document.getElementsByName("lunch_duration");
    var end = document.getElementsByName("end_time");
    var worked = document.getElementsByName("worked_time");
    var over = document.getElementsByName("overtime");
    var note = document.getElementById("notes").value;
    var d = {};
    var i;
    for (i = 0; i < start.length; i++) {
        d[d_id[i].value] = {};
        d[d_id[i].value]["start"] =  start[i].value;
        d[d_id[i].value]["lunch"] =  lunch[i].value;
        d[d_id[i].value]["end"] =  end[i].value;
        d[d_id[i].value]["worked"] =  worked[i].value;
        d[d_id[i].value]["over"] =  over[i].value;
    }
    $.ajax({
        type: 'POST',
        url: '/on_save',
        dataType: 'json',
        data: JSON.stringify({data:d,notes:note}),
        contentType: "application/json"
    });
});


</script>
{% endblock %}